body{
    background-color: aliceblue;
    padding: 20px;
 }
 
 .calculadora{
    max-width: 400px;
    margin: auto;
    background-color: antiquewhite;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
 
 }